<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="blogStyles.css">
  <title>Nates Blog</title>
</head>
<body>
  <div class="container">
    <div id="blogList">
      <ul>
        <li>
          <p v-for="post in posts">{{ post.title }}</p>
        </li>
      </ul>
    </div>
    <div id="blogHandler">
      <ul>
        <li v-for="post in posts">
          <h1>{{ post.title }}</h1>
          <p>{{ post.content }}</p>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="blogHandler.js"></script>
</body>
</html>
